# CMake build directory
/build/

# Generated binaries
*.exe
*.out
*.app
*.dll
*.so
*.dylib
*.lib
*.a

# Visual Studio
*.vcxproj.user
*.sdf
*.ipch
*.opensdf

# macOS
.DS_Store

# Linux
*.o
*.obj
*.gch
